.wrapper {
    max-width: 1280px;
    margin: 0 auto;
}

.banner {
    background: url(/img/index.png);
    height: 100vh;
    width: 1920px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;    
    &__header {
        width: 1920px;
        margin-top: 36px;
        position: absolute;
        top:0;
        height: 189px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: space-evenly;  
    }
    &__caption {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
    &__text-1 {
        color: white;
        font-family: $font-family;
        font-size: 24px;
        justify-content: center;
    }
    &__text-2 {
        color: white;
        font-family: $font-family;
        font-size: 165px;
        display: flex;
        padding-top: 12px;
    }
    &__button {
        width: 150px;
        height: 60px;
        font-family: $font-family;
        font-size: 18px;
        color: white;
        text-align: center;
        background: #16DCF0;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.burger-menu {
    display: flex;
    justify-content: center;
    width: 30%;
}

.banner__header nav {
    width: 513px;
}

.search {
    display: flex;
    justify-content: center;
    width: 30%;
    position: relative;
    &__input {
        background: none;
        border: none;
        border-bottom: 2px solid rgba(255, 255, 255, 1);
    }
    
}

.search img {
    position: absolute;
    // right: 0;

}