.banner-sale {
    background: url(./img/banner_sale.png);
    height: 665px;
    max-width: 1920px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: white;
    position: relative;
} 

.banner-sale__hover {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-width: 52%;
    height: 665px;
    background: rgba(57, 57, 57, 0.44);
    position: absolute;
}

.banner-sale__hover_container {
    height: 307px;
}

.banner-sale h1 {
    text-transform: uppercase;
    font-size: 100px;
    // width: 335px;
    height: 108px;
}

.banner-sale h2 {
    font-size: $h2-font_size;
    text-transform: capitalize;
    width: 604px;
    height: 53px;
    margin-top: 19px; 
}

.banner-sale span {
    display: inline-block;
    font-size: 16px;
    width: 476px;
    height: 44px;
    margin-bottom: 21px;
    
}