@import "scss/_fonts.scss";
@import "scss/_constants.scss";
@import "scss/_section-registry.scss";
@import "scss/_section-partners.scss";
@import "scss/_section-banner-sale.scss";
@import "scss/_section-offer.scss";
@import "scss/_section-banner.scss";
@import "scss/_footer.scss";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


 






